<h1>Bienvenido al {{title}}</h1>
<h3>¿Que acción deseas realizar?</h3>
<a href="/pacientes" class="agregar" >Listado Pacientes</a>
<a href="/medicos" class="agregar">Listado Médicos</a>
<a href="/citas" class="agregar">Citas agendadas</a>

